<!doctype html>
<html>
<head>
    <title>Error Page</title>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

        <error> something went wrong</error>
</div>

</div>
</body>
</html>